<nav class="nave">
  <a href="/src/app/app.component.html">logo</a>
  
  <div id="divBusca search-box">
    <input type="text" class="search-text" placeholder="Pesquisar...">
    <input class="lupa" type="submit" value=" " src="../../assets/img/loupe-white.svg"> 
   
  </div>
  <div class="div-esquerda search-box">
    <a href="" >
      <div class="dis-blok">
        <span>olá, faça seu login</span>
      </div>
      <span>Contas e Listas</span>
    </a>
    <a href="">
      <div class="dis-blok">
        <span>Devoluções</span>
      </div>
      <span>e Pedidos</span>
    </a>
    <a href="">
      <div class="dis-blok">
        <span>Devoluções</span>
      </div>
      <span>e Pedidos</span>
    </a>
  </div>
</nav>